#################
#Temporary files#
#################
*.swp
*.pyc
.env/*
__pycache__/*
.DS_Store

#################
#Image files#
#################
CASIA Iris Image Database (version 1.0)/*

###############
#Jupyter files#
###############
.ipynb_checkpoints/*
.idea/*
.vscode/*